<h1>
  Sightings
</h1>

<nav>
  <h3>
    <%= link_to 'Regions', regions_path %>
  </h3>
  <h3>
    <%= link_to 'Animals', animals_path %>
  </h3>
  <h3>
    <%= link_to 'Reports', "/reports" %>
  </h3>
</nav>

<ol>
  <% @sightings.each do |sighting| %>
    <li>
      <h3>
        <%= link_to sighting.date, sighting_path(sighting) %>
      </h3>
    </li>
  <% end %>
</ol>