<h1>Animals</h1>

<nav>
  <h3>
    <%= link_to 'Regions', regions_path %>
  </h3>
</nav>

<ul>
  <% @animals.each do |animal| %>
    <li>
      <div>
        <h3>
          <%= link_to animal.name, animal %>
        </h3>
        <%= link_to "#{animal.name} sightings", animal_sightings_url(animal) %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Animal', new_animal_path %>
