<h1>Animals</h1>

<nav>
  <h3>
    <%= link_to 'Regions', regions_path %>
  </h3>
  <h3>
    <%= link_to 'Sightings', "/sightings" %>
  </h3>
</nav>

<ol>
  <% @animals.each do |animal| %>
    <li>
      <h3>
        <%= link_to animal.name, animal %>
      </h3>
    </li>
  <% end %>
</ol>

<%= link_to 'New Animal', new_animal_path %>
